.react-calendar {
  /* height: 90vh; */
  width: 100%;
  /* max-height: 90%; */
  background: #212529;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
}
.progress-bar{
  transition: all 500ms ;
}

.tasks-completed {
  display: flex;
  font-size: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
  /* height: 100%; */
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  color: #cecece;
  display: flex;
  /* height: 44px; */
  /* margin-bottom: 1em; */
}

.react-calendar__navigation button {
  color: #cecece;
  font-size: 28px;
padding: 10px!important;
font-weight: bold;

  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  font-weight: bold;
  color: #212529;
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  color: #cecece;


}
abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}
.react-calendar__month-view__weekdays__weekday {
  padding:0 0.5em;
  font-size: 28px;
  color: #cecece;


}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #cecece;

  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #fff;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #212529!important;
  background-color: #212529!important;
  cursor: default!important;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 40px;
  background: none;
  color: #cecece;
  text-align: center;
  border-radius: 20px;
  /* line-height: 16px; */
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  color: #212529;

  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #006edc;
  color: #212529;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  color: #212529;

  background-color: #e6e6e6;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  /* background: #006edc; */
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #e6e6e6;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
